<header class="site-header">
    <div class="wrapper">
       
        <a class="site-title" href="{{ site.baseurl }}/">WhatsApp Plus 2019</a> &nbsp; &nbsp; &nbsp;
                        <a class="page-link" style="color:white;text-align:right" href="https://wpplus2019.com/#features">Features</a> 
        

       
        <nav class="site-nav">
            <div class="trigger">
               
            {% for page in site.pages %}
                {% if page.title and page.url != '/404.html' %}
                
                {% endif %}
            {% endfor %}
            </div>
        </nav>
    </div>
</header>
